.title {
    color: blue;
}

.fitpic {
    position: relative;
    display: flex;
    height: 15%;
    width: 15%;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.img1 {
    position: relative;
    display: flex;
    justify-items: space-between;
}

.img2 {
    position: relative;
    display: flex;
    justify-items: space-between;
}
